@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /* border: solid 1px red; */
}
:root {
    --cor-1: #FF6600;
    --cor-2: #D3D3D3;
    --cor-3: #fff;
}
main{
    color: var(--cor-3);
    text-shadow: 5px 5px 10px #000000ec;
}
html{
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}

/* ----------------- HEADER -------------------- */
header{
    width: 100vw;
    height: 15vh;
    padding: 20px 20px;
    display: flex;
    column-gap: 20px;
    background-color: var(--cor-1);
    color: var(--cor-3);
    align-items: center;
    font-size: 1.1em;
}
h1{
    font-weight: 500;
}
header img{
    height: 3.5em;
    width: 3.5em;
    border-radius: 6px;
    background-color: var(--cor-3);
    padding: 5px;
}

/* ----------------- estrutura da introdução (primeiro paralax e modulo) -------------------- */
.paralax-1{
    font-size: 1.7em;
    width: 100vw;
    height: 85vh;
    display: grid;
    grid-template-rows: 70% 30%;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(img/fundo.jpg);
}
h2{
    font-weight: 600;
}
.paralax-1 a{
    background-color: #fff;
    text-decoration: none;
    width: fit-content;
    justify-self: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    font-weight: 700;
    color: var(--cor-1);
    text-shadow: none;
    font-size: .6em;
}
.modulo{
    background-color: var(--cor-1);
    padding: 70px 13%;
}
.modulo h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.2em;
}
p{
    font-size: 1.25em;
}
/* ----------------- estrutura das sessões -------------------- */

.paralax{
    font-size: 1.7em;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.section{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
}
.txt{
    width: 50%;
    background-color: var(--cor-1);
    padding: 40px 50px 40px 30px;
}
.txt h2{
    font-size: 2.5em;
    margin-bottom: 30px;
    border-bottom: .5px solid var(--cor-3);
    width: fit-content;
}
.paragrafo{
    height: 40vh;
}
.txt p{
    font-size: .95em;
    text-indent: 30px;
    text-align: justify;
    margin-bottom: 15px;
    text-shadow: none;
}
.readButton{
    display: none;
}
.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
input{
    background-color: var(--cor-1);
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    font-weight: 700;
    color: var(--cor-3);
    text-shadow: none;
    font-size: 1em;
    border: 1px solid var(--cor-3);
    transition: .3s ease;
}
input:hover{
    background-color: var(--cor-3);
    color: var(--cor-1);
    cursor: pointer;
}
input:active{
    scale: 0.95;
}
/* ----------------- Imagens de roma -------------------- */
.paralax-2{
    background-image: url(img/fundo-2.jpg);
}
.img-1{
    background-image: url(https://cdn.pixabay.com/photo/2022/06/06/20/48/rome-7246962_1280.jpg);
}
/* ----------------- imagens de Nova York -------------------- */
.paralax-3{
    background-image: url(https://cdn.pixabay.com/photo/2020/02/16/20/29/nyc-4854718_1280.jpg);
}
.img-2{
    background-image: url(https://images.pexels.com/photos/18012331/pexels-photo-18012331/free-photo-of-estatua-da-liberdade.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

/* ----------------- Imagens de Kioto -------------------- */
.paralax-4{
    background-image: url(https://cdn.pixabay.com/photo/2015/10/17/18/57/kyoto-993058_1280.jpg);
}
.img-3{
    background-image: url(https://cdn.pixabay.com/photo/2016/03/01/00/59/kyoto-1229561_1280.jpg);

}
/* Imagem de conclusão */
.paralax-5{
    background-image: url(https://cdn.pixabay.com/photo/2019/12/20/00/03/road-4707345_1280.jpg);
}
/* ----------------- Footer -------------------- */

footer{
    width: 100vw;
    height: 150px;
    background-color: #2c2c2c;
    padding: 30px;
    color: var(--cor-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: var(--cor-3);
    font-size: 1.2em;
}
footer a:hover{
    text-shadow: 0px 0px 10px var(--cor-1);
    color: #FF6600;
}
/* Responsividade */
@media screen and (max-width: 850px){
    header{
        height: 10vh;
    }
    .paralax-1{
        height: 90vh;
    }
    section{
        flex-direction: column;
    }
    .img, .txt{
        width: 100%;
    }
    .paragrafo{
        height: 20vh;
        font-size: 1.4em;
        margin-bottom: 50px;
    }
    .img{
        height: 40vh;
    }
    .txt{
        height: 60vh;
    }

}
@media screen and (max-width: 450px) {
    header{
        font-size: .5em;
    }
    .paralax-1{
        text-align: center;
    }
    .modulo{
        padding: 70px 5%;
    }
    .modulo h2{
        font-size: 1.5em;
    }
    .section{
        height: auto;
    }
    .img{
        height: 30vh;
    }
     .txt{
        height: 70vh;
        padding: 0px 0px 40px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .txt h2{
        text-align: center;
        text-shadow: none;
        border: none;
    }
    .txt p{
        padding: 0px 15px 0px 15px;
        text-align: left;
        text-indent: 0px;
    }
    .paragrafo{
        height: 40vh;
        overflow: hidden;
        margin-bottom: 20px;
        position: relative;
    }
    .paragrafo::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, var(--cor-1));
    }
    .botao{
        flex-direction: row;
        font-size: .55em;
        margin-top: 0px;
        order: -1;
        width: 100%;
        margin-bottom: 20px;
    }
    input{
        width: 33.333333333333%;
        border-radius: 0;
        border-bottom: none;
    }
    .readButton{
    display: block;
    background-color: #ffffff;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    color: var(--cor-1);
    text-shadow: none;
    font-size: 1em;
    border: none;
    margin: auto;
    transition: all 0.1s ease-in-out;
    }
    #readButton:active{
        background-color: transparent;
        color: var(--cor-3);
        transition: all 0.1s ease-in-out;
    }
    .txt.active, .paragrafo.active{
        height: auto;
    }
    .paragrafo.active::before{
        visibility: hidden;
    }
}
@keyframes titulo {
    from{
        opacity: 0;
        transform: translatex(-20px);
    }
    to{
        opacity: 1;
        transform: translatex(0);
    } 
}
@keyframes texto {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    } 
}
.animation{
    animation: texto 1s ease forwards;
}
.animation-titulo{
    animation: titulo 1s ease forwards;
}

